<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post List</title>
</head>
<body>
    <h1>All Posts</h1>
    <ul>
        <li th:each="post : ${posts}">
            <a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a>
            <!-- Кнопка для удаления поста -->
            <form th:action="@{/posts/delete/{id}(id=${post.id})}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
    <a href="/posts/create">Create New Post</a>
</body>
</html>

